@import url('photographer.css');

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 60px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.photographer_section article a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 24px;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
}

.photographer_section article h3 {
  color: #901c1c;
}

.photographer_section article p:nth-of-type(2) {
  color: #525252;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* ---------------- MEDIAS ---------------- */

.medias {
  max-width: 1320px;
  margin: 0 auto;
  padding: 60px 60px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 60px;
}

.medias__card {
  width: 100%;
  height: 20rem;

  display: flex;
  flex-direction: column;
}

.medias__card__top {
  width: 100%;
  height: 15rem;
  flex: 1;
}

.medias__card__top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.medias__card__top video {
  height: 100%;
  width: 100%;
}

.medias__card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
