/* ---------------- GENERAL ---------------- */

:root {
  --clr-primary-400: #901c1c;
  --clr-secondary-400: #d3573c;
  --clr-secondary-200: #db8876;
  --clr-text-400: #525252;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 60px;
}

h1 {
  color: var(--clr-primary-400);
}

main {
  max-width: 1520px;
  margin: 0 auto;
}

/* ---------------- HOME PAGE ---------------- */

.logo {
  height: 50px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.photographer_section article a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 24px;
}

.photographer_section article h2 {
  color: var(--clr-secondary-400);
  font-size: 36px;
}

.photographer_section article h3 {
  color: var(--clr-primary-400);
}

.photographer_section article p:nth-of-type(2) {
  color: var(--clr-text-400);
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* ---------------- MEDIAS GRID ---------------- */

.medias {
  max-width: 1320px;
  margin: 0 auto;
  padding: 60px 60px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 60px;
}

.medias__card {
  width: 100%;
  height: 20rem;

  display: flex;
  flex-direction: column;
}

.medias__card__top {
  width: 100%;
  height: 15rem;
  flex: 1;
  cursor: pointer;
}

.medias__card__top img,
.medias__card__top video {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.medias__card__top video {
  height: 100%;
  width: 100%;
}

.medias__card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.medias__card__bottom h2 {
  color: var(--clr-primary-400);
  font-weight: 400;
}

.medias__card__bottom span {
  color: var(--clr-primary-400);
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.medias__card__bottom span img {
  margin-left: 6px;
}

.modal-diapo {
  border-radius: 5px;
  background-color: var(--clr-secondary-200);
  width: 500px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 500;
}

.modal-diapo img {
  width: 100%;
}

/* ---------------- LIGHTBOX ---------------- */

.lightbox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  place-items: center;
  display: none;
}

.carousel {
  position: relative;
  width: 1200px;
  height: 95vh;
  overflow: hidden;
  background-color: #fff;
  gap: 20px;
  margin-right: 20px;
}

.slide-wrapper {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-box {
  height: 100%;
  object-fit: contain;
  padding: 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide {
  position: absolute;
  width: 100%;
  height: 85%;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide__title {
  color: var(--clr-primary-400);
  font-size: 24px;
  margin-top: 12px;
  margin-right: auto;
}

.image-box img,
.image-box video {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.slider__btn {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.slider__btn--left {
  top: 50%;
  left: 0;
}

.slider__btn--right {
  top: 50%;
  right: 0;
}

.slider__btn--close {
  top: 10px;
  right: 10px;
}

.carousel-icon {
  width: 40px;
}

.carousel-icon.carousel-icon--close {
  width: 32px;
}

/* ---------------- PHOTOGRAPHER HEADER ---------------- */

.photograph-header {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  max-width: 1200px;
  padding: 20px 60px;
  margin: 0 auto;
}

.photograph-infos {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photograph-infos h2 {
  font-size: 40px;
  color: var(--clr-secondary-400);
}

.photograph-infos h3 {
  color: var(--clr-primary-400);
}

.photograph-infos p {
  color: var(--clr-text-400);
}

.photograph-header img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* ---------------- FORM MODAL ---------------- */

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--clr-primary-400);
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsl(0, 100%, 0%, 50%);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.form-message {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 5px;
}

.infobar {
  position: fixed;
  bottom: 0;
  right: 100px;
  background-color: var(--clr-secondary-200);
  border-radius: 6px 6px 0 0;
  padding: 16px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.infobar__likes-container {
  display: flex;
  align-items: center;
}

.infobar__likes-container span {
  margin-right: 8px;
}

.infobar__likes-container img {
  width: 18px;
  fill: #fff;
}
